:root {
  --color-accent: #4d5ae5;
  --color-headings: #2e2f42;
  --color-text: #434455;
  --first-background-color: #ffffff;
  --second-background-color: #f4f4fd;
  --color-fon-imagen: #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--first-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------УТІЛІТИ--- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:focus,
.link:hover {
  color: var(--color-accent);
}

.button {
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--first-background-color);
  background-color: var(--color-accent);
}

.container {
  width: 1158px;
  margin: 0 auto;
  outline: 1px solid tomato;
}
/* ----------------------------------HEADER */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header > .container {
  display: flex;
}

.navigation {
  display: flex;
}

/* -------------------------------LOGO */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  color: var(--color-accent);
  margin-right: 76px;
}

.logo > .header {
  color: var(--color-headings);
}

.logo > .footer {
  color: var(--second-background-color);
}

.navigation-list {
  display: flex;
  gap: 40px;
}

/* .navigation-item {
} */

.navigation-link {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-headings);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

/* .contacts-item {
} */

.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* --------------------------------section 1 HERO */

.hero {
  background-color: var(--color-headings);
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-background-color);
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--first-background-color);
  background-color: var(--color-accent);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*--------------------------------section 2 FUNCIOINAL */

.functional {
  padding-top: 120px;
  padding-bottom: 120px;
}

.functional-list {
  display: flex;
  gap: 24px;
}

/* .functional-item {
} */

.functional-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings);
  margin-bottom: 8px;
}

.functional-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  width: 264px;
}

/*  ----------------------section 3 PROPOSITION */

.proposition {
  padding-bottom: 120px;
}

.proposition-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings);
  margin-bottom: 72px;
}

.proposition-list {
  display: flex;
  gap: 24px;
}

.proposition-item {
  flex-basis: calc((100% - 48px) / 3);
}

/*  ---------------------------section 4 TEAM */

.team {
  background-color: var(--second-background-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings);
  padding-top: 120px;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
}

.team-wrap {
  text-align: center;
  letter-spacing: 0.02em;
  background-color: var(--first-background-color);
  padding: 32px 16px;
}

.team-subject {
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-headings);
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  color: var(--color-text);
}

/*  -----------------------------------------------------FOOTER */

.footer {
  background-color: var(--color-headings);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .navigation {
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-fon-imagen);
  width: 264px;
}

/* ---------------------------------------------------PORTFOLIO */

/* .services-list {
} */

.services-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-accent);
}

/* .button {

} */

/* .option-list {
} */

/* .option-item {
} */

/* .option-link {
} */

.option-subject {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings);
}

.option-text {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
